.techstack {
    .title-wrapper {
      display: flex;
      gap: 5px;
      align-items: baseline;
      .number {
        font-size: 20px;
      }
      .title {
        font-weight: 600;
        font-size: 40px;
      }
    }
  
    .text-box {
      font-size: 40px;
      display: flex;
      justify-content: center;
    }
  
    .slider-wrapper {
      margin: 50px 0;
      .slick-slide {
        .slide-content {
          height: 100px;
          
          .image-wrapper {
            display: flex !important;
            justify-content: center;

            .image{
              background-repeat: no-repeat;
              background-size: contain;
              margin: 10px 0;
              height: 50px;
              width: 50px;
            }

            .html{
              background-image: url('../assets/techstack/HTML5.png');
            }
            .css{
              background-image: url('../assets/techstack/CSS3.png');
            }
            .javascript{
              background-image: url('../assets/techstack/JavaScript.png');
            }
            .tailwind{
              background-image: url('../assets/techstack/tailwind.png');
            }
            .react{
              background-image: url('../assets/techstack/React.png');
            }
            .nodejs{
              background-image: url('../assets/techstack/NODEJS.png');
            }
            .mongodb{
              background-image: url('../assets/techstack/MongoDB.png');
            }
            .mongoose{
              background-image: url('../assets/techstack/Mongoose.png');
            }
            .express{
              background-image: url('../assets/techstack/Express.png');
            }
            .webpack{
              background-image: url('../assets/techstack/Webpack.png');
            }
            .npm{
              background-image: url('../assets/techstack/NPM.png');
            }
            .git{
              background-image: url('../assets/techstack/GIT.png');
            }
            .vscode{
              background-image: url('../assets/techstack/VsCode.png');
            }
            .vim{
              background-image: url('../assets/techstack/Vim.png');
            }
            .terminal{
              background-image: url('../assets/techstack/Terminal.png');
            }
            .linux{
              background-image: url('../assets/techstack/Linux.png');
            }
          }
    
          .title-wrapper {
            display: none;
            justify-content: center;
          }
        }
    
        &:hover {
          .slide-content {
            .title-wrapper {
              display: flex;
            }
          }
        }
      }
    }
    
    
}
  