.techstack {
    .title-wrapper {
      display: flex;
      gap: 5px;
      align-items: baseline;
      .number {
        font-size: 20px;
      }
      .title {
        font-weight: 600;
        font-size: 40px;
      }
    }
  
    .text-box {
      font-size: 40px;
      display: flex;
      justify-content: center;
    }
  
      .carousel {
        .slick-slide {
          background-color: green;
          margin: 20px;
        }
    }
  }
  