.techstack {
    .title-wrapper {
      display: flex;
      gap: 5px;
      align-items: baseline;
      .number {
        font-size: 20px;
      }
      .title {
        font-weight: 600;
        font-size: 40px;
      }
    }
  
    .text-box {
      font-size: 40px;
      display: flex;
      justify-content: center;
    }
  
    .slider-wrapper {
      .slick-slide {
        .slide-content {
          height: 100px;
          
          .image-wrapper {
            display: flex !important;
            justify-content: center;
            .image{
              background-image: url('../assets/techstack/HTML5.png');
              background-repeat: no-repeat;
              background-size: cover;
              margin: 10px 0;
              height: 50px;
              width: 50px;
              
            }
          }
    
          .title-wrapper {
            display: none;
            justify-content: center;
          }
        }
    
        &:hover {
          .slide-content {
            .title-wrapper {
              display: flex;
            }
          }
        }
      }
    }
    
    
}
  